[tool.poetry]
name = "clinlp"
version = "0.6.1"
description = "Performant and production-ready NLP pipelines for clinical text written in Dutch"
authors = ["UMCU DIT Analytics <analytics@umcutrecht.nl>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
spacy = "^3.5.3"
intervaltree = "^3.1.0"
transformers = {extras = ["torch"], version = "^4.30.2"}
makefun = "^1.15.1"

[tool.poetry.extras]
transformers = ["transformers"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.2"
isort = "^5.12.0"
flake8 = "^6.0.0"
pylint = "^2.17.2"
black = "^23.3.0"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
